[Unit]
Description=TyranoKurwus BOT
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/TYTDLPCS
ExecStart=/usr/bin/sh /home/ubuntu/TYTDLPCS/start.sh 

[Install]
WantedBy=multi-user.target

